@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-light: #ece3d3;
    --color-violet: #A12BFF;
    --color-ligth-blue: #2EC3E3;
    --text-primary: #666666;
    --font-family-regular: 'Ubuntu', 'Arial Narrow', Arial, sans-serif;
    --font-family-bold: 'Ubuntu', 'Arial Narrow', Arial, sans-serif;
    --gradient: linear-gradient(133deg, rgba(46,195,227,1) 0%, rgba(161,43,255,1) 100%);
  }

html , body{
    font-family: var(--font-family-regular);
}

.bg-light{
    background-color: var(--color-light);
}

.bg-gradient{
  background: rgb(46,195,227);
  background: var(--gradient);
}

.text-primary{
  color: var(--text-primary);
}

.font-regular{
  font-family: var(--font-family-regular);
}

.scale-y{
  transform: scale(-15);
}

.text-rotate{
  writing-mode: vertical-rl;
}

.ancor:hover{
  transform: scale(1.2);
  position: relative;
  transition: all;
  transition-duration: 400ms;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2ec3e3 #ece3d3;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 20px;
  }

  *::-webkit-scrollbar-track {
    background: #ece3d3;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2ec3e3;
    border-radius: 10px;
    border: 3px solid #ece3d3;
  }