@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light: #f5f2ed;
  --color-violet: #a12bff;
  --color-ligth-blue: #2ec3e3;
  --text-primary: #666666;
  --font-family-regular: "Ubuntu", "Arial Narrow", Arial, sans-serif;
  --font-family-bold: "Ubuntu", "Arial Narrow", Arial, sans-serif;
  --gradient: linear-gradient(
    133deg,
    rgba(46, 195, 227, 1) 0%,
    rgba(161, 43, 255, 1) 100%
  );
}

html,
body {
  font-family: var(--font-family-regular);
  cursor: url("./cursor-auto.svg") 8 8, auto;
}

.bg-light {
  background-color: var(--color-light);
}

.bg-dark {
  background: var(--text-primary);
}

.bg-gradient {
  background: rgb(46, 195, 227);
  background: var(--gradient);
}

.bg-transparent {
  background: rgba(255, 255, 255, 0.349);
}

.text-primary {
  color: var(--text-primary);
}

.font-regular {
  font-family: var(--font-family-regular);
}

.scale-y {
  transform: scale(-15);
}

.text-rotate {
  writing-mode: vertical-rl;
}

.ancor:hover {
  transform: scale(1.2);
  position: relative;
  transition: all;
  transition-duration: 400ms;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #2ec3e3 var(--color-light);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--color-light);
}

*::-webkit-scrollbar-thumb {
  background-color: #2ec3e3;
  border-radius: 10px;
  border: 3px solid var(--color-light);
}
