.bg-contact {
  background-image: url("logo-favicon-nicolas-potel-junot.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 1050px) {
  .bg-contact {
    background-image: none;
    background: var(--gradient);
  }
}
